@use "../abstracts/variables";
.red-btn{
    color: variables.$white;
    background: variables.$red;
    padding: 20px 30px;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    &:hover{
        background: #6f1d0e;
    }
}
.red-outline-btn{
    color: variables.$red;
    background: transparent;
    border: 2px solid variables.$red;
    padding: 14px 20px;
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    &:hover{
        border: 1px solidf variables.$red;
        color: variables.$white;
        background: variables.$red;
    }
}